<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>易舜云手机</Name>
    <Version>1.0.0</Version>
    <Title>易舜云手机</Title>
    <Publisher>长沙易舜信息技术有限公司</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>易舜云手机</StartMenuDir>
    <TargetDir>@ApplicationsDir@/YiShunYun</TargetDir>
</Installer>
